<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>User List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngFor="let item of userList">
      <ion-item detail (click)="presentModal(item)">
        <ion-icon name="contact" slot="start" color="danger"></ion-icon>
        <ion-label>
          <h2>{{item.name}}</h2>
          <p>{{item.username}}</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
